<a href="https://colab.research.google.com/github/DS8-Trainee/AC-github-intro/blob/main/Assignment1(Sidra_Tul_Muntaha_DS8_Red).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
x=int(10)
x=10 # x is an int variable
print(x)

10

In [ ]:
y=str(20)
y="Munhammad" # y is a string variable
print(y)

Munhammad

In [ ]:
print(x+10)
print(y+" "+"Smith")

20
Munhammad Smith

Task 2: Expressions and Operators

In [ ]:
is_student = True
print("is Student:", is_student)

is Student: True

In [ ]:
is_student = not is_student
print("is Student:", is_student)

is Student: False

a) A rectangle has a width of 5.5 units and a height of 3.25 units. Store width and height in variables. Create a new variable called area and write an expression to calculate the area. Print the area in the output

In [ ]:
w=5.5
h=3.25
area=w*h# Formula of area of retangle
print(area)

17.875

b) Take temperature input from user in Celsius. Convert it to Fahrenheit using the formula:
F = (C * 9/5) + 32
Store this temperature in a variable called Fahrenheit and print this variable.

In [ ]:
Tc=float(input("Please enter temperature in celsius: "))
Tf=(Tc*9/5)+32 # Formula for C to F conversion
print(Tf)

Please enter temperature in celsius: 55
131.0

c)Take radius of the circle as input from user. Calculate the area of a circle with this radius and store it in a variable called area. Print area at the end of your code.
(Use the formula: area = π * radius^2, where π (pi) is approximately 3.14159).

In [ ]:
r=float(input("Please enter radius: "))
area=3.14159*r**2
print(area)

Please enter radius: 9
254.46878999999998

Task 3: List Manipulation
a) Create a list called "fruits" containing the following fruits: "apple", "banana", "cherry", "date", "strawberry", "fig", and "grape". Print the list.

1. Remove the first and last elements from the "fruits" list. Print the updated list.

In [ ]:
Fruits=["apple", "banana", "cherry", "date", "strawberry", "fig", "grape"]
Fruits.pop(0)
Fruits.pop(-1)
print(Fruits)

['banana', 'cherry', 'date', 'strawberry', 'fig']

### 2.** Replace the second to fourth items with ["kiwi", "lemon", "mango"] using list slicing**

In [ ]:
Fruits=["apple", "banana", "cherry", "date", "strawberry", "fig", "grape"]
print(Fruits)

['apple', 'banana', 'cherry', 'date', 'strawberry', 'fig', 'grape']

In [ ]:
Fruits=["apple", "banana", "cherry", "date", "strawberry", "fig", "grape"]
Fruits[1:4]=["kiwi", "lemon", "mango"]
print(Fruits)

['apple', 'kiwi', 'lemon', 'mango', 'strawberry', 'fig', 'grape']

3. Use the len() function to find how many fruits are in the list.

In [ ]:
Fruits=["apple", "banana", "cherry", "date", "strawberry", "fig", "grape"]
print(len(Fruits))

7

**Task 4: Dictionary Operations**

a) Create a dictionary named "capitals" with three key-value pairs: "USA" - "Washington D.C.," "France" - "Paris," and "Japan" - "Tokyo." Print the dictionary.

In [ ]:
capitals={"USA":"Washington D.C.","France":"Paris","Japan": "Tokyo."}
print(capitals)

{'USA': 'Washington D.C.', 'France': 'Paris', 'Japan': 'Tokyo.'}

b) Add a new country and its capital to the "capitals" dictionary. The country is "Germany," and the capital is "Berlin." Print the updated dictionary.

In [ ]:
capitals={"USA":"Washington D.C.","France":"Paris","Japan": "Tokyo."}
capitals["Germany"]="Berlin" # adding new country and its capitals
print(capitals)

{'USA': 'Washington D.C.', 'France': 'Paris', 'Japan': 'Tokyo.', 'Germany': 'Berlin'}

c) Check if "France" exists in the "capitals" dictionary. If it does, print "France is in the dictionary," otherwise, print "France is not in the dictionary."

In [ ]:
capitals={"USA":"Washington D.C.","France":"Paris","Japan": "Tokyo."}
if'France' in capitals:
  print("France is in the dictionary")
else:
  print("France is not in the dictionary")

France is in the dictionary

**Task 5: Comparison Operators, Logical Operators and If/Else:**

a) Create a variable called number that takes user input. Write a block of code that checks if the number is positive or negative. If the number is positive only then further check if it is even or odd.
Your output should print “The number is even”, or the “The number is odd”.

In [ ]:
number=int(input("Please enter the number: "))
if number>0:
            if number%2==0:
                 print("The number is even")
            else:
                 print("number is odd")
else:
    print("number is negative")

Please enter the number: 9
number is odd

b) Create two variables called age and GPA. Give them values of your choice. Next, write a block of code to check if a student with this age and GPA is eligible for admission. The following are the conditions:
   - The student must be at least 18 years old.
   - The student's GPA must be 3.0 or higher on a scale of 4.0.
   Your output should print “Eligible for admission” or “Not eligible for admission”.

In [ ]:
Age=int(input("Please Enter Your Age: "))
GPA=float(input("Please Enter Your GPA on Scale of 4: "))
if Age>=18 and GPA>=3.0:
  print("Eligible for admision")
else:
  print("Not eligible for admission")

Please Enter Your Age: 18
Please Enter Your GPA on Scale of 4: 2.9
Not eligible for admission

**Task 6: Strings Manipulation**

a) Create a string variable containing the following sentence:
   "Python programming is fun and powerful!"
   Write Python code to do the following and print the results:
   1. Find the length of the string.
   2. Convert the string to uppercase.
   3. Replace "fun" with "exciting."
   4. Check if the string contains the word "Python."

In [ ]:
String="Python programming is fun and powerful!"
print(len(String))
print(String.upper())
print(String.replace("fun","exciting"))
if "Python" in String:
  print("Python is in the string")

39
PYTHON PROGRAMMING IS FUN AND POWERFUL!
Python programming is exciting and powerful!
Python is in the string

In [ ]:
#5. Remove the word programming from the sentence and print the rest of the sentence.
String="Python programming is fun and powerful!"
String=String.replace('programming',"")
print(String)

Python  is fun and powerful!

In [ ]:
 #6. Extract the last word "powerful!"
 String="Python programming is fun and powerful!"
 print(String[-9:-1:])

powerful

b) Given the string email = "user@example.com", perform the following:
•	Extract the username part (everything before the "@" symbol).
•	Extract the domain part (everything after the "@" symbol).
•	Check if the email contains the substring "example".

In [ ]:
String="user@example.com"
String2=String[0:4]
print(String2)
String3=String[5:]
print(String3)
if "example" in String:
  print("example is in the string")

user
example.com
example is in the string

**Task 7: For Loops and While Loops**

a) Given a list of temperatures for a week, write a program that tells you how many days were above 25°C.  
temp_list = [26, 28, 32, 36, 30, 25, 24, 22, 20, 18]
for temp > 25, print “Today's temp:  temp, its hot!”
for temp <= 25, print “Today's temp:  temp, it is chilly today!”

In [ ]:
temp_list = [26, 28, 32, 36, 30, 25, 24, 22, 20, 18]
Days_above_25=0
for temp in temp_list:
  if temp >25:
    Days_above_25+=1
print(f"No. of days with temperature above25:{Days_above_25}")

No. of days with temperature above25:5

In [ ]:
temp_list = [26, 28, 32, 36, 30, 25, 24, 22, 20, 18]
for temp in temp_list:
  if temp >25:
   print(f"Today's temp: {temp}, its hot!")
  else:
   print(f"Today's temp: {temp}, it is chilly today!")

Today's temp: 26, its hot!
Today's temp: 28, its hot!
Today's temp: 32, its hot!
Today's temp: 36, its hot!
Today's temp: 30, its hot!
Today's temp: 25, it is chilly today!
Today's temp: 24, it is chilly today!
Today's temp: 22, it is chilly today!
Today's temp: 20, it is chilly today!
Today's temp: 18, it is chilly today!

b) Use a for loop and the range() function to display following sequences:
1. Add to list: [-20, -17, -14, -11, -8, -5, -2, 1, 4, 7, 10, 13, 16, 19, 22, 25, 28]
2. Add to list: [110, 112, 114, 116, 118, 120, 122, 124, 126, 128]
3. Print: Multiples of 7 starting from 5 and less than 100.
4. Print: The first 20 Fibonacci numbers.
Explanation:
The Fibonacci sequence is a series of numbers where each number is the sum of the two preceding ones. It starts with 0 and 1:
0, 1, 1, 2, 3, 5, 8, 13, 21, 34…….
Mathematically, it is defined as:
F(n)= F(n−1) + F(n−2)

In [ ]:
for i in range(-20,31,3):
  print(i,end=",")
#Result: Add to list: [-20, -17, -14, -11, -8, -5, -2, 1, 4, 7, 10, 13, 16, 19, 22, 25, 28]

-20,-17,-14,-11,-8,-5,-2,1,4,7,10,13,16,19,22,25,28,

**2.Add to list: [110, 112, 114, 116, 118, 120, 122, 124, 126, 128**]

In [ ]:
for i in range(110,130,2):
  print(i,end=",")
# Result Add to list: [110, 112, 114, 116, 118, 120, 122, 124, 126, 128]

110,112,114,116,118,120,122,124,126,128,

**3.Print: Multiples of 7 starting from 5 and less than 100**

In [ ]:
for i in range(7,100,7):
 print(i,end=",")
 # Result Print: Multiples of 7 starting from 5 and less than 100.

7,14,21,28,35,42,49,56,63,70,77,84,91,98,

**4. Print:The first 20 Fibonacci numbers. FN=[0,1,3,5,8,13,21,34,55,89,144.....]**

In [ ]:
past=0
present=1
print(past,present,sep=",",end =',')
for i in range(18):
    future=past+present
    print(future, end =',')
    past=present
    present=future

0,1,1,2,3,5,8,13,21,34,55,89,144,233,377,610,987,1597,2584,4181,

**c) Use nested loops to display the following pattern.**

In [ ]:
for i in range(7):
    for j in range(i):
        print("*", end ='')
    print()

*
**
***
****
*****
******

d) Write a nested loop through the given list to find pair of numbers that sum to a given value.
numbers = [6, 8, 2, 4, 6, 10]
target_sum = 12
Save and print the pairs in tuples.

In [ ]:
numbers=[6,8,2,4,6,10]
target=12
for i in range(len(numbers)):
  for j in range(i+1,len(numbers)):
    if numbers[i]+numbers[j]==12:
      print((numbers[i],numbers[j]))

(6, 6)
(8, 4)
(2, 10)

**e**) A student obtains the following grades in his courses. Make a list of his scores and write a loop to sum up his total score. Also, calculate his percentage.

Courses                 Scores out of 100
Mathematics                    78
Programming                   82
Biology                               65
Physics                               80
Chemistry                          50

In [ ]:
grades=[78,82,65,80,50]
for i in range(len(grades)):
  total=sum(grades)
print(total)
print(f"percentage={(total/500)*100}")

355
percentage=71.0

Next, use python dictionary to assign grades to the student according to the following table:

Percentage   Grade
90-100                 A
80-89                   B+
60-79                   B
40-59                   C
39 and below     F

In [ ]:
#Solution with conditional Statements
percentage=71.0
Grades_Dic={"A":90,"B+":80,"B":60,"C":40,"F":39}
if percentage>=list(Grades_Dic.values())[0]:
    print("A")
elif percentage>=list(Grades_Dic.values())[1]:
    print("B+")
elif percentage>=list(Grades_Dic.values())[2]:
    print("B")
elif percentage>=list(Grades_Dic.values())[3]:
    print("C")
elif percentage<=list(Grades_Dic.values())[4]:
    print("F")

B

Solution with For Loop

In [ ]:
Grades_Dic = {"A": 90, "B+": 80, "B": 60, "C": 40, "F": 0} # Adjusted "F" to cover all values below 40
percentage = 71.0 # Determine the grade based on the percentage
grade="F"
for key,value in Grades_Dic.items():
    if percentage >= value:
        grade = key
        break
print(f"The grade for a percentage of {percentage} is: {grade}")

The grade for a percentage of 71.0 is: B

**Task 8: Functions**:

a) Write a function called calculate_area that takes the length and width of a rectangle and returns its area.

In [ ]:
def calculate_area(width,length):
 area=length*width
 return area

In [ ]:
calculate_area(5,8)

40

b) Write a Python function to find the max of three numbers entered by the user.

In [ ]:
def Max_finder(number1,number2,number3):
    if number1 >= number2 and number1 >= number3:
       return number1
    elif number2 >= number1 and number2 >= number3:
       return number2
    else: return number3

In [ ]:
Max_finder(70,69,78)

78

c) Create a basic calculator program that can perform addition, subtraction, multiplication, and division operations. Ask the user to input 2 numbers and the operation they want to perform. Print result accordingly.

In [ ]:
def basic_calculator(): # Ask the user to input two numbers
    num1 = float(input("Enter the first number: "))
    num2 = float(input("Enter the second number: "))
    # Ask the user to input the operation they want to perform
    O = str(input("Enter the operation (+, -, *, /): ")) # Perform the operation and print the result
    if  O == '+':
        result = num1 + num2
        print(f"The result of {num1} + {num2} is: {result}")
    elif  O == '-':
        result = num1 - num2
        print(f"The result of {num1} - {num2} is: {result}")
    elif  O == '*':
        result = num1 * num2
        print(f"The result of {num1} * {num2} is: {result}")
    elif  O == '/':
        if num2 != 0:
            result = num1 / num2
            print(f"The result of {num1} / {num2} is: {result}")
        else:
            print("Division by zero is not allowed.")

basic_calculator() # Call the function to execute it

Enter the first number: 67
Enter the second number: 7
Enter the operation (+, -, *, /): /
The result of 67.0 / 7.0 is: 9.571428571428571